*{
margin:0;
padding:0
}

.color_verde
{
    color:#16da43;
}
.colorFondo{
    background-color: #212529;
}
.Formulario{
    width: 50%;
    margin: auto;
}
.Cards_{
    width: 80%;
    margin: auto;
}
.img_hon{
margin: auto;
}
.Footer_Style{
    background-color: rgb(24,71, 110);
    color: aliceblue;
    height: 6em;
}
.colorLetras{
    color: aliceblue;
}
.boton_color{
    background-color: #16da43;
    color: black;
}